<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-success text-center mt-3" role="alert">
                <h6 class="text-bold">Password Reset Successful!</h6>
                <p>Yoiu can now login with our new password.</p>
                <input name="btnRPLogin" class="btn btn-md btn-primary" value="Login"  [routerLink]="['/login']" 
                    type="submit">
              </div>
            <h3>Reset Your Password?</h3>
            <form id="resetForm" role="form" autocomplete="off" class="form" method="post">
                <!-- <label>Current Password</label>
                <div class="form-group pass_show"> 
                    <input type="password" value="COVID@19" class="form-control" placeholder="Current Password"> 
                </div>  -->
                <label>New Password</label>
                <div class="form-group pass_show">
                    <input type="password" value="Trump@123" class="form-control" placeholder="New Password" />
                </div>
                <label>Confirm Password</label>
                <div class="form-group pass_show">
                    <input type="password" value="Trump@123" class="form-control" placeholder="Confirm Password" />
                </div>

                <div class="form-group">
                    <input name="btnResetPwd" class="btn btn-md btn-primary btn-block btnForget" value="Change Password"
                    type="submit">
                </div>
            </form>
        </div>
    </div>
</div>