<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="fp-cont mt-3">
                <a [routerLink]="['/login']" title="Back to Login">&lt; Back to Login</a>
                <h3>Forgot Your Password?</h3>
                <p>Don't worry! Restting your password is easy, just type in your email while registering with us.</p>
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                
                    <input type="email" id="fpemail" [(ngModel)]="fpemail"  class="form-control" placeholder="Your Email ID" name="fpemail" /><br />
                    <input class="btn btn-sm btn-primary btn-block text-uppercase" type="submit" value="Send Reset Link"
                     />
                </form>
            </div>
        </div>
    </div>
</div>