/* You can add global styles to this file, and also import other style files */

/* Define all CSS Variables(Global) here */
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }


body {
  background: #f3f3f3;
  background: linear-gradient(to right, #eee, #f7f7f7);
}